<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>

        <div class="about-content">
            
            <img src="/images/SelfPortrait.jpg" alt="Jason Macdonald">
        
            <p>I'm Jason Macdonald, I'm a senior in my last semester studying Software Engineering.  I live in Ammon Idaho next to Idaho Falls with my wife of 11 years and our 4 kids Logan, Chloe, Isabella and Charlotte. I currently work as a Full Stack Software Engineer, although I have more of a drive for backend development than I do for the front-end, but I enjoy what I do in Web Automation.</p>
        
            <p>I love spending time with my family. Right now, my kids are HUGE fans of playing Minecraft, so I enjoy playing with them in local private worlds and seeing all the cool things we can build together.</p>
            
        </div>
        
</main>
<%- include('partials/footer') %>


