<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <p>Name: Jason Macdonald</p>
    <p>ID # : 956951730</p>
    <p>Email: mac13002@byui.edu</p>
    <p>Address: Ammon, Idaho</p>
</main>
<%- include('partials/footer') %>